.dashboard-container {
    display: flex;
    width: 100%;
  }
  
  .dashboard-sidepanel {
    width: 15%;
    padding: 20px;
  }
  
  .games {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .games p {
    margin-bottom: 10px;
    padding: 10px;
    background: antiquewhite;
    cursor: pointer;
  }
  
  .categories {
    margin-bottom: 20px;
  }
  
  .categories p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .filter-section h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .filter-section label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .games p:hover {
    color: chocolate;
  }
  
  .filter-section label:hover {
    color: #a53860;
  }
  
  .dashboard-main {
    height: 50%;
    width: 65%;
    padding: 20px;
    min-height: 300px; /* Set minimum height */
    max-height: 600px; /* Set maximum height */
    overflow-y: auto; /* Add scroll if content exceeds maximum height */
    margin-left: 150px; /* Add space towards left */
    margin-top: 100px; /* Add margin-top to align a little lower */
    background-color: #ffffff; /* Add background color */
    border: 1px solid #ddd; /* Add border */
    border-radius: 8px; /* Add border radius */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  .dashboard-main h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .dashboard-container {
    background-color: #f7f9f7;
  }
  
  .categories p {
    padding: 10px;
    border-radius: 8px;
    background-color: darkgrey;
    color: #a53860;
    text-align: center;
  }
  
  .categories p:hover {
    background-color: cadetblue;
  }
  
  .filter-section label {
    color: #333;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 768px) {
    .dashboard-container {
      flex-direction: column;
    }
  
    .dashboard-sidepanel {
      width: 100%;
      padding: 20px;
    }
  
    .dashboard-main {
      width: calc(100% - 40px); /* Subtracting the padding */
      margin-left: 20px; /* Adjust margin-left */
      margin-right: 20px; /* Adjust margin-right */
      margin-top: 0; /* Remove margin-top */
      max-height: none; /* Remove max-height */
    }
  }
  